/* importing google fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ultra');
/* 
font-family: 'Ultra', serif;
font-family: 'Open Sans', sans-serif;
*/

@media (max-width: 400px){
    header{
        display: flex;
        display: -webkit-flex;        
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flex-item {
        margin-bottom: 10px;
    }
}

body {
    background: #e2e1e0;
}

body, input, textarea, select, button {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

h1 {
    font-family: "Ultra", serif;
    color: rgb(109, 76, 65);
    font-size: 36px;
    text-shadow: 4px 4px 4px #aaa
}

#badge {
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}

#flexbox {
    width: 100vw;
    display: flex;
    justify-content: center;
}

section {
    background: #ffffff;
    max-width: 540px;
    text-align: justify;
    margin: 20px;
    padding: 36px 24px;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#quoteParagraph {
    max-width: 540px;
    min-height: 160px;
    line-height: 1.4;
}

footer {    
    background-color: #2A2B2A;
    color: #f8f4e3;
    padding: 20px 30px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    line-height: 1.2;
}